<div data-purchasekit--paywall-target="response"
     data-correlation-id="<%= intent.uuid %>"
     data-apple-store-product-id="<%= intent.product.apple_product_id %>"
     data-google-store-product-id="<%= intent.product.google_product_id %>"
     data-xcode-completion-url="<%= intent.xcode_completion_url %>"
     data-success-path="<%= intent.success_path %>">
</div>
